<h1>Gridle</h1>
<h2>Guess those words</h2>
<p>
  Move letters in the grid to make a gridle of words. It's a good idea
  to use a soft tipped stylus to see what you are doing, as it's
  difficult to see past stubby fingers.
</p>
<h2>Display colours</h2>
<p>
  Letters which are in the word but in the wrong place will turn
  yellow. Remember this can be in both directions. If they are in the
  right place they will turn green. If they are not in the word they
  will turn grey. Keep trying until you have guessed all the
  words. The colours may be changed by selecting
  <b>Highlight colours</b> in the menu.
</p>
<h2>Refresh</h2>
<p>
  Tap the <b>Refresh</b> button in the toolbar to clear the display
  and generate another gridle of words. Words are chosen at random from
  a list, and are checked that they haven't been used recently.
</p>
<h2>Share</h2>
<p>
  Tap the <b>Share</b> button in the toolbar to share an image of the
  current display.
</p>
<h2>Large</h2>
<p>
  Solve a larger 7x7 grid of words. This will show an initial blank
  grid and rotating working symbol while the larger puzzle is
  created. Similarly, tapping the refresh button will not create a new
  puzzle immediately.
</p>
<h2>Add accents</h2>
<p>
  Long press on a letter in the solved word grid. This will show a pop-up
  menu of unaccented and accented letters. Pick the required
  unaccented or accented letter.
</p>
<h2>Meaning</h2>
<p>
  Once you have solved the word grid, tap on a letter that uniquely
  identifies a word to display the meaning.
</p>
<h2>Themes</h2>
<p>
  Select coloured theme from the <b>Theme</b> item in the menu.
</p>
<h2>Language</h2>
<p>
  Select <b>Language</b> from the menu.
</p>
<h2>Highlight colours</h2>
<p>
  A dialog will pop up showing two guesses, one containing some
  letters in the word in the wrong place and a correct guess, and
  three spectrums. Change the colour of the letters in the wrong place
  by tapping on the top spectrum, and the correct letters with the
  middle spectrum. Change the shade of grey of the letters not in the
  word with the bottom spectrum. The <b>Reset</b> button will restore
  the default colours, The <b>Cancel</b> button changes nothing, and
  the <b>OK</b> button accepts the changes.
</p>
<h2>Cheat</h2>
<p>
  Use
  my <a href="https://github.com/billthefarmer/crossword">Crossword</a>
  or <a href="https://github.com/billthefarmer/wordlesolver">WordleSolver</a>
  app to cheat.
</p>
